<header class='main-header'>
  <div class='sarch-bar'>
    <%= link_to image_tag("https://images.cooltext.com/5478186.png", class:"inspiration-icon"), "/" %>
    <form class="search-form">
      <input class='input-box' placeholder='キーワーどから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon"%>
      </button>
    </form>
  </div>
  <div class='nav'>
    <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
    </li>
    </ul>
</header>